body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Oswald', sans-serif; */
}

/* AQUÍ ESTAN SOLO LAS ETIQUETAS DEL HEADER */

.header{
    /* border: 1px solid red; */
    /* margin: 0px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    background-color: #FFFFFF;
}

.header a{
    text-decoration: none;
    color: black;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-weight: 570;
    font-size: 13px;
    
}

.header a:hover{
    /* background-color: #FFB712; */
    background-color: #122134;
    color: white;
}
.header ol {
    display: flex;
    height: inherit;
}

.header h1{
    font-size: 20px;
    margin-right: auto;
}

.header ol li{
    height: inherit;
}

.menu {
    height: inherit;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

figure{
    margin:0px;
}

ol, ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/* ETIQUETAS DEL HERO */

.hero{
    height: 680px;
    background-image: url('../images/fondo5.jpg') ;
    background-size: cover;
    align-items: center;
    background-position: right;
}

.hero h1{
    font-weight: bold;
    padding-top: 15%;
    line-height: 1.2em;
    font-size: 50px;
    color :white;
    font-family: 'Oswald', sans-serif;
    margin-top: 0px;
}

.hero p{
    align-items: center;
    color: white;
    font-size: 16px;
}

.hero hr{
    width: 100px;
    border: none;
    /* background-color: #FFB712; */
     /* background-color: #001B48; */
     background-color: #2962FF;
    height: 3px;
    margin:0px;
}

.contact-button{
    margin-top: 20px;
    height: 65px;
    width: 200px;
    font-size: 13px;
    /* color: black; */
    color: white;
    /* background-color: #FFB712; */
    /* background-color: #001B48; */
    background-color: #2962FF;
    border:none;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 5px;
}

.contact-button:hover{
    color: black;
    background-color: white;
    outline : 0;
}


/* --------------ETIQUETAS PARA LA SECCIÓN ACERCA DE NOSOTROS */

.who-are {
    /* background: #FAFAFA; */
    /* background: #F7F5ED; */
    background: #F6F6F6;
    padding: 20px;
}
.who-are h2{
    padding-top: 0px;
    text-transform: uppercase;
    text-align: center;
    font-size:35px;
    margin: 0px;
    
}

.about-us{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
}

.about-us-details{
    align-self: flex-start;
}
.who-are hr{
    width: 100px;
    border: none;
    /* background-color: #FFB712; */
    /* background-color: #001B48; */
    background-color: #2962FF;
    height: 3px;
    margin-top: 5px;
}


.about-us-details{
    width: 500px;
}

.about-us-description{
    font-size: 15px;
}

.about-us-imageContainer{
    width: 500px;
    object-fit: cover;
    
}

.about-us-button{
    margin-top: 20px;
    height: 40px;
    width: 150px;
    font-size: 15px;
    /* color: black; */
    color: white;
    /* background-color: #FFB712; */
    /* background-color: #001B48; */
    background-color: #2962FF;
    border:none;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    /* box-shadow: 0 1px 4px 0 #333333, 0 1px 5px 0 #333333; */
}

.about-us-button:hover{
    background-color: #1B1A1A;
    outline : 0;
    color: white;
}


/* Etiquetas para el SERVICIO */
.service-general {
    /* background-color: #140B05; */
    /* background-color: #001B48; */
    background-color: #122134;
    color: white;
    padding: 20px;
}

.service-general h2 {
    padding-top: 0px;
    text-transform: uppercase;
    text-align: center;
    font-size:35px;
    margin: 0px;
}

.service-general hr {
    width: 100px;
    border: none;
    /* background-color: #FFB712; */
     /* background-color: #004581; */
     /* background-color: #018ABD; */
    background-color: #2962FF;
    height: 3px;
    margin-top: 5px;
}

.service{
    margin: auto;
    margin-top: 40px;
    width: 900px;
    height: 400px;
    background-image: url('../images/fondo11.jpg');
    background-position: center;
    background-size: cover;
    object-fit: contain;
    text-align: center;
    border-radius: 5px;
    padding: 20px 40px;
    -webkit-box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.71);
    box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.71);
}

.service h2{
    padding: 0px;
    margin-top: 40px;
}

.service hr {
    width: 100px;
    border: none;
    background-color: white;
    height: 3px;
}
.service h2{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.service-description{
    margin-top: 70px;
}

.more-service-button{
    height: 40px;
    width: 150px;
    font-size: 15px;
    /* color: black; */
    color: white;
    /* background-color: #FFB712; */
    /* background-color: #001B48; */
    background-color: #2962FF;
    border:none;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 5px;
}

.more-service-button:hover{
    background-color: white;
    outline : 0;
    color: black;
}

/* ETIQUETAS PARA EL H2 DE POR QUE ELEGIRNOS */
h2{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

hr{
    width: 100px;
    border: none;
    /* background-color: #FFB712; */
     /* background-color: #004581; */
     /* background-color: #018ABD; */
    background-color: #2962FF;
    height: 3px;
    margin-top: 5px;
}
/* ETIQUETAS DE POR QUÉ ELEGIRNOS */


.why-choose {
    /* background-color: #140B05; */
    /* background-color: #001B48; */
    background-color: #FFFFFF;
    color: black;
    padding: 20px;
}

.why-choose h2 {
    padding-top: 0px;
    text-transform: uppercase;
    text-align: center;
    font-size:35px;
    margin: 0px;
}

.why-choose hr{
    width: 100px;
    border: none;
    /* background-color: #FFB712; */
    /* background-color: #001B48; */
    background-color: #2962FF;
    height: 3px;
    margin-top: 5px;
}



/* ETIQUETAS PARA LOS BENEFICIOS */

.why-choose{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.option-list{
    flex-shrink: 0;
    width: 250px;
    /* border:1px solid red; */
}

.option-list img{
    padding-left: 90px;
    width: 50px;
}

.option{
    text-align: center;
    font-size: 15px;
    color: b1afad;
}

.option strong{
    color: black;
}

/* ETIQUETAS PARA LA SECCION DE CONTACTO */

.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #122134;
}


/* ETIQUETAS PARA EL FORMULARIO DE CONTACTO */

.about-us hr{
    width: 100px;
    border: none;
    /* background-color: #FFB712; */
     /* background-color: #001B48; */
     background-color: #2962FF;
    height: 3px;
    margin:0px;
}


.about-us-title{
    font-size: 20px;
    font-weight: bold;
}

.about-us-description{
    color: #B7BBBE;
}

.items-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.items-description{
    margin-left: 10px;
    color: white;
}

.form-contact{
    padding-top: 20px;
    width: 470px;
    height: 460px;
    /* border: 1px solid blue; */
    background-color: white;
}

.text-contact{
    margin-left: 30px;
    color: black;
}
.input-contact{
    width: 402px;
    height: 50px;
    margin: 10px 30px;
    border: 0.5px solid #D7D9DD;
    border-radius: 4px;
}

.input-contact::placeholder{
    color: #D7D9DD;
}

.input-message{
    width: 402px;
    height: 75px;
    margin: 10px 30px;
    border: 0.5px solid #D7D9DD;
    border-radius: 4px;
}
.input-message::placeholder{
    color: #D7D9DD;
}


.message-button{
    margin-left: 130px;
    margin-top: 20px;
    height: 65px;
    width: 200px;
    font-size: 13px;
    /* color: black; */
    color: white;
    /* background-color: #FFB712; */
    /* background-color: #001B48; */
    background-color: #2962FF;
    border:none;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 5px;
}

.footer{
    background-color: #122134;
     color: white;
     display: flex;
     align-items: center;
     height: 100px;
     justify-content: space-between;
}

.footer h1{
    margin-right: auto;
}

.footer p{
    text-align: center;
}

/* ETIQUETAS GENERALES */
.container {
    /* border: 1px solid blue; */
    width: 1080px;
    margin: 0 auto;
    height: inherit;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: inherit;
}






