body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Oswald', sans-serif; */
}

/* AQUÍ ESTAN SOLO LAS ETIQUETAS DEL HEADER */

.header{
    /* border: 1px solid red; */
    /* margin: 0px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    background-color: #FFFFFF;
}

.header a{
    text-decoration: none;
    color: black;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-weight: 570;
    font-size: 13px;
    
}

.header a:hover{
    background-color: #FFB712;
    color: white;
}
.header ol {
    display: flex;
    height: inherit;
}

.header h1{
    font-size: 20px;
    margin-right: auto;
}

.header ol li{
    height: inherit;
}

.menu {
    height: inherit;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

figure{
    margin:0px;
}

ol, ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/* ETIQUETAS DEL HERO */

.hero{
    height: 680px;
    background-image: url('../images/fondo6.jpg') ;
    background-size: cover;
    align-items: center;
    background-position: right;
}

.hero h1{
    font-weight: bold;
    padding-top: 15%;
    line-height: 1.2em;
    font-size: 50px;
    color :white;
    font-family: 'Oswald', sans-serif;
    margin-top: 0px;
}

.hero p{
    align-items: center;
    color: white;
    font-size: 16px;
}

.hero hr{
    width: 100px;
    border: none;
    background-color: #FFB712;
    height: 3px;
    margin:0px;
}

.contact-button{
    margin-top: 20px;
    height: 65px;
    width: 200px;
    font-size: 13px;
    color: black;
    background-color: #FFB712;
    border:none;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.contact-button:hover{
    color: black;
    background-color: white;
    outline : 0;
}


/* --------------ETIQUETAS PARA LA SECCIÓN ACERCA DE NOSOTROS */

.who-are {
    /* background: #FAFAFA; */
    /* background: #F7F5ED; */
    background: #F6F6F6;
    padding: 20px;
}
.who-are h2{
    padding-top: 60px;
    text-transform: uppercase;
    text-align: center;
    font-size:35px;
    margin: 0px;
    
}

.about-us{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
}

.about-us-details{
    align-self: flex-start;
}
.who-are hr{
    width: 100px;
    border: none;
    background-color: #FFB712;
    height: 3px;
    margin-top: 5px;
}


.about-us-details{
    width: 500px;
}

.about-us-description{
    font-size: 15px;
}

.about-us-imageContainer{
    width: 500px;
    object-fit: cover;
}

.about-us-button{
    margin-top: 20px;
    height: 40px;
    width: 150px;
    font-size: 15px;
    color: black;
    background-color: #FFB712;
    border:none;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    /* box-shadow: 0 1px 4px 0 #333333, 0 1px 5px 0 #333333; */
}

.about-us-button:hover{
    background-color: #1B1A1A;
    outline : 0;
    color: white;
}


/* Etiquetas para el SERVICIO */
.service-general {
    background-color: #140B05;
    color: white;
    
}

.service-general h2 {
    padding-top: 60px;
    text-transform: uppercase;
    text-align: center;
    font-size:35px;
    margin: 0px;
}

.service-imageContainer{
    width: 800px;
    object-fit: cover;
}
.service-general hr {
    width: 100px;
    border: none;
    background-color: #FFB712;
    height: 3px;
    margin-top: 5px;
}

.service{
    display: flex;
    align-items: center;
}
/* ETIQUETAS GENERALES */
.container {
    /* border: 1px solid blue; */
    width: 1080px;
    margin: 0 auto;
    height: inherit;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: inherit;
}




